.main{
  background-color: rgb(150, 172, 26);
margin: 0;
display: flex;
}

ul {
  list-style: none;
  padding: 10px;
  margin: 0;
  display: flex;
  justify-content: space-around;
  
}

 ul li a{
  margin-right: 70px;  
  text-decoration: none;
  color: rgb(242, 243, 243); 
  

}

.nested{
  background-color: rgb(150, 172, 26);
  color: aliceblue;
}

.service {
  background-color: aqua;
  text-align: center;
  
}

.service a{
  text-decoration: none;
}

.home1{
  background-color: rgb(226, 146, 42);
  text-align: center;
}

.contact{
  background-color: rgb(215, 177, 250);
  text-align: center;
}
.about{
  background-color: rgb(192, 226, 255);
  text-align: center;
}
.nested2{
  background-color: rgb(221, 135, 29);
  text-align: center;
}
.service2 a{
  text-decoration: none;
  
  
}
.service2{
  background-color: rgb(226, 18, 18);
  text-align: center;
}